@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IPagedList<Booking>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/HotelAdmin/Views/Shared/_Layout.cshtml";
}
@section Links{
    <style>
        .pointerEvent{
            pointer-events:none;
            background-color:gray;
            border:none
        }
    </style>
}
<div class="card my-5">
    <div class="card-header">
        <h4 class="card-title">Reservations</h4>
    </div>
    <div class="card-content">
        <div class="m-3">
            <a asp-controller="Booking" asp-action="ExportToExcelToday" class="btn btn-lg btn-primary">Export Excel</a>
        </div>
        <!-- table hover -->
        <div class="table-responsive">
            <table class="table mb-4 table-bordered">
                <thead>
                    <tr>
                        <th> Id</th>
                        <th> Name</th>
                        <th> Arrival Date</th>
                        <th> Departure Date</th>
                        <th> Adults</th>
                        <th> Children</th>
                        <th> Status</th>
                        <th> RoomId</th>
                        <th>Settings</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> @item.Id</td>
                            <td>@item.AppUser.UserName</td>
                            <td> @item.ArrivalDate</td>
                            <td> @item.DepartureDate</td>
                            <td> @item.Adults</td>
                            <td> @item.Children</td>
                            @if (item.BookingStatusId == 1)
                            {
                                <td>
                                    Pending
                                </td>
                            }
                            else if (item.BookingStatusId == 2)
                            {
                                <td>
                                    Accepted
                                </td>
                            }
                            else if(item.BookingStatusId == 3)
                            {
                                <td>
                                    Deleted
                                </td>
                            }
                            else if(item.BookingStatusId == 4  )
                            {
                                <td>
                                    Cancelled
                                </td>
                            }

                            <td>
                                @item.RoomId
                            </td>
                            <td class="d-flex p-2">
                                <a asp-controller="booking" asp-action="accept" asp-route-id="@item.Id" class="btn btn-success " style="margin-left:10px">Accept</a>
                                <a asp-controller="booking" asp-action="cancel" asp-route-id="@item.Id" class="btn btn-warning " style="margin-left:10px">Cancel</a>
                                <a asp-controller="booking" asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger " style="margin-left:10px">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index",new {page}),new X.PagedList.Web.Common.PagedListRenderOptionsBase
    {
    LiElementClasses=new[] {"page-item"},
    PageClasses = new[] {"page-link"}
    })
