@model IEnumerable<Booking>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/HotelAdmin/Views/Shared/_Layout.cshtml";
}
@*
<form method="post">
    <div>
     <label class="mb-3">BookingStatuses:</label><br />
        <select class="form-control" asp-for="BookingStatusId" asp-items="@(new SelectList(ViewBag.BookingStatuses,"Id","Name"))"></select>
        <span class="text-danger" asp-validation-for="BookingStatusId"></span>
    </div>
    <div>
          <button type="submit" class="btn btn-outline-success">Accept</button>
    </div>
</form>
*@

<div class="card my-5">
    <div class="card-header">
        <h4 class="card-title">Reservations</h4>
    </div>
    <div class="card-content">
        <!-- table hover -->
        <div class="table-responsive">
            <table class="table mb-4 table-bordered">
                <thead>
                    <tr>
                        <th> Id</th>
                        <th> Name</th>
                        <th> Arrival Date</th>
                        <th> Departure Date</th>
                        <th> Adults</th>
                        <th> Children</th>
                        <th> Status</th>
                        <th> RoomId</th>
                        @*<th> @Html.DisplayNameFor(model => model.BookingStatusId)</th>*@
                        <th>Settings</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td > @item.Id</td>
                            <td>@item.AppUser.UserName</td>
                            <td> @item.ArrivalDate</td>
                            <td> @item.DepartureDate</td>
                            <td> @item.Adults</td>
                            <td> @item.Children</td>
                            <td> @(item.BookingStatusId == 1 ? "Pending" : "Accepted") </td>
                            <td>
                                @item.RoomId
                            </td>
                            <td class="d-flex p-2">
                            <a asp-controller="booking" asp-action="accept" asp-route-id="@item.Id" class="btn btn-success" style="margin-left:10px" >Accept</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

