
@{
    Layout = null;
}
@model AccountVM
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sochi-Register Page</title>
    <!-- fontawesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300&family=Krub:wght@300;400&family=Lobster&family=Montserrat:ital,wght@0,200;0,300;0,500;1,200;1,300;1,400&family=Nunito+Sans:wght@300;400&family=Oleo+Script:wght@400;700&family=Playfair+Display:ital@0;1&family=Poppins:wght@200;300;400&family=Roboto:wght@300&family=Source+Sans+Pro:wght@200;300;400&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300&family=Krub:wght@300;400&family=Lobster&family=Montserrat:ital,wght@0,200;0,300;0,500;1,200;1,300;1,400&family=Nunito+Sans:wght@300;400&family=Oleo+Script:wght@400;700&family=Playfair+Display:ital@0;1&family=Poppins:wght@200;300;400&family=Roboto:wght@300;400&family=Source+Sans+Pro:wght@200;300;400&display=swap"
          rel="stylesheet">
    <link rel="shortcut icon" href="~/assets/images/icon/user (1).png" type="image/x-icon">
    <!-- plugins link -->
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <!-- css link -->
    <link rel="stylesheet" href="~/assets/css/login/css/style.css">
</head>

<body>
    <!-- preloader start -->
    <div id="preloader">
        <div id="loader"></div>
    </div>
    <!-- preloader end -->
    <!-- header start -->
    <header>
        <nav>
            <div class="container-fluid">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-3">
                        <div class="nav-logo">
                            <a href="/home/index">
                                <img src="~/assets/images/logo/@layoutService.GetSetting().Result.FirstOrDefault(s=>s.Key.Trim().ToLower()=="headerblacklogo").Value" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <input type="checkbox" id="check">
                        <label for="check" class="checkbtn">
                            <i class="fas fa-bars"></i>
                        </label>
                        <div class="nav-menu">
                            <div class="close">
                                <input type="checkbox" id="check">
                                <label for="check" class="checkbtn">
                                    <i class="fa-solid fa-xmark"></i>
                                </label>
                            </div>
                            <ul class="m-0 p-0">
                                <li><a href="/room/index">Rooms</a></li>
                                <li class="ms-4"><a href="/gallery/index">Gallery</a></li>
                                <li class="ms-4"><a href="/about/index">About Us</a></li>
                                <li class="ms-4"><a href="blog.html">Blog</a></li>
                                <li class="ms-4"><a href="/contact/index">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="rezerv">
                            <ul class="d-flex m-0 p-0 justify-content-end">
                                <li class="user">
                                    <a href="#"><i class="fa-solid fa-user-large"></i></a>
                                   <div class="dropdown">
                                        @if (User.Identity.IsAuthenticated && User.IsInRole("Member"))
                                        {
                                            <ul class="m-0 p-0">
                                                <li><a href="/account/edit"><i class="fa-solid fa-user"></i>@User.Identity.Name</a></li>
                                                <li>
                                                    <a asp-controller="account" asp-action="logout"><i class="fa-solid fa-user"></i>Logout</a>
                                                </li>
                                            </ul>

                                        }
                                        else
                                        {
                                            <ul class="m-0 p-0">
                                                <li><a asp-controller="account" asp-action="login"><i class="fa-solid fa-user"></i>Login</a></li>
                                                <li>
                                                    <a asp-controller="account" asp-action="register"><i class="fa-solid fa-user"></i>Register</a>
                                                </li>
                                            </ul>


                                        }
                                    </div>
                                </li>
                                <li class="ms-3 rezervation">
                                    <a href="/room/index">
                                        <i class="fa-regular fa-bookmark"></i>Reservations
                                    </a>
                                </li>
                            </ul>
                            <div class="bar d-none justify-content-end align-items-center">
                                <a href="#"><i class="fa-solid fa-bars-staggered"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- header end -->
    <main>
        <section id="middle">
            <div class="bg-color"></div>
            <div class="title text-center">
                <h2>Sochi</h2>
                <ul class="d-flex justify-content-center align-items-center m-0 p-0">
                    <li><a href="/home/index">Home</a></li>
                    <li class="ms-5"><a class="active" href="/account/forgotpassword">ForgotPassword</a></li>
                </ul>
            </div>
        </section>
        <section id="login">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-6">
                        <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                        <form method="post">
                            <div class="login-form">
                                <h4 class="login-title">Forgot password section</h4>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-field">
                                            <label >Please enter your email</label>
                                            @*<i class="fa-regular fa-envelope"></i>*@
                                            <input asp-for="AppUser.Email"  placeholder="Email">
                                            <span class="text-danger" asp-validation-for="AppUser.Email"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex align-items-center">
                                        <button type="submit" class="btn btn-custom-size lg-size btn-pronia-primary">Send</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </section>
    </main>
    <!-- footer start -->
    <footer id="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="footer-left">
                        <ul class="d-flex justify-content-start m-0 p-0">
                            <li><a href="#">© 2019 Sochi Hotel</a></li>
                            <li class="ms-4"><a href="#">Terms & Conditions</a></li>
                            <li class="ms-4"><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="footer-icon">
                        <ul class="d-flex justify-content-end p-0 m-0">
                            <li><a href="@layoutService.GetSocial().Result.FirstOrDefault(s=>s.Key.Trim().ToLower()=="twitterurl").Value"><i class="@layoutService.GetSocial().Result.FirstOrDefault(s=>s.Key.Trim().ToLower()=="twittericon").Value"></i></a></li>
                            <li class="ms-4"><a href="@layoutService.GetSocial().Result.FirstOrDefault(s=>s.Key.Trim().ToLower()=="facebookurl").Value"><i class="@layoutService.GetSocial().Result.FirstOrDefault(s=>s.Key.Trim().ToLower()=="facebookicon").Value"></i></a></li>
                            <li class="ms-4"><a href="@layoutService.GetSocial().Result.FirstOrDefault(s=>s.Key.Trim().ToLower()=="instagramurl").Value"><i class="@layoutService.GetSocial().Result.FirstOrDefault(s=>s.Key.Trim().ToLower()=="instagramicon").Value"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
    <script src="~/assets/js/login/script.js"></script>
</body>

</html>