@{
    ViewData["Title"] = "Hotel Booking ";
}
@model HomeVM
@if (TempData["ForgotPassword"] != null)
{
    <input type="hidden" id="forgotJs" />
}
@if (TempData["PasswordResed"] != null)
{
    <input type="hidden" id="resedJs" />
}
@if (TempData["Verify"] != null)
{
    <input type="hidden" id="verifyJs" />
}
@if (TempData["Verified"] != null)
{
    <input type="hidden" id="verifiedJs" />
}
@if (TempData["Booking"] != null)
{
    <input type="hidden" id="bookingJs" />
}
@if (TempData["EditPassword"] != null)
{
    <input type="hidden" id="editJs" />
}
<main>
    <!-- intro start -->
    <section id="intro">
        <div class="bg-color"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="title">
                        <span class="subtitle" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500"
                              data-aos-anchor-placement="center-bottom">@layoutService.GetSetting().Result.FirstOrDefault(s => s.Key.Trim().ToLower() == "headersubtitle").Value</span>
                        <h1 style="width:80%" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="500"
                            data-aos-anchor-placement="center-bottom">
                            @layoutService.GetSetting().Result.FirstOrDefault(s => s.Key.Trim().ToLower() == "headertitle").Value

                        </h1>
                        <span class="adventure" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500"
                              data-aos-anchor-placement="center-bottom">Adventure</span>
                    </div>
                </div>
            </div>
        </div>
        <a href="#about" class="scroll-to">
            Scroll
            <span class="scroll-line"></span>
        </a>
    </section>
    <!-- intro end -->
    <!-- about start -->
    <section id="about">
        <div class="container">
            <div class="heading">
                <span >About us</span>
                <h1 class="title" >
                    Begin your amazing <br> adventure.
                </h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="text-left">
                        <p>
                            The humid subtropical climate, high mountains,
                            exotic vegetation, endless beaches,
                            national parks, historic architecture, exciting attraction sites, art festivals and
                            lively multicultural environment make Sochi a prominent resort destination.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="text-right">
                        <p>
                            Sochi has a lot to offer for anyone who loves
                            nature, sports, history, sunny beach
                            leisure and active adventures. There is too much to do and too many things to see in
                            Sochi so you will never be bored.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">

                    <div class="left-img">
                        <a href="#" class="about-link">
                            Explore More
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </a>
                        <img src="~/assets/images/about/@layoutService.GetSetting().Result.FirstOrDefault(s=>s.Key.Trim().ToLower()=="aboutleftimage").Value" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="right-img">
                        <img src="~/assets/images/about/@layoutService.GetSetting().Result.FirstOrDefault(s=>s.Key.Trim().ToLower()=="aboutrightimage").Value" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about end -->
    <!-- room start -->
    <section id="room">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="heading">
                        <span class="room" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500"
                              data-aos-anchor-placement="center-bottom">Rooms</span>
                        <h1 class="title">
                            <span data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500"
                                  data-aos-anchor-placement="center-bottom">Rooms</span>
                            <span data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500"
                                  data-aos-anchor-placement="center-bottom"> Suites.</span>
                        </h1>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 see-more d-flex justify-content-end">
                    <div class="btn-more">
                        <a href="/room/index">See all Rooms</a>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model.Rooms)
                {
                    @if (item.IsFeatured == true)
                    {
                        if (item.IsPopular == true)
                        {
                            <div class="col-lg-8 m-0 p-0">
                                <div class="roomItem">
                                    <span class="popular">Popular</span>
                                    <div class="img">
                                        <a href="/room/details/@item.Id"  roomId="@item.Id" class="itemRoom_link">
                                            <img src="~/assets/images/rooms/@item.RoomPictures.FirstOrDefault(r=>r.IsMain==true)?.ImagePath" alt="">
                                        </a>
                                    </div>
                                    <div class="room-detail">
                                        <h4>@item.Title</h4>
                                        <div class="price">
                                            $@item.Price
                                            <span>night</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-12 col-sm-12 col-md-12 col-lg-4 m-0 p-0">
                                <div class="roomItem">
                                    <div class="img">
                                        <a href="/room/details/@item.Id" class="itemRoom_link">
                                            <img src="~/assets/images/rooms/@item.RoomPictures.FirstOrDefault(r=>r.IsMain==true)?.ImagePath" alt="">
                                        </a>
                                    </div>

                                    <div class="room-detail">
                                        <h4>@item.Title</h4>
                                        <div class="price">
                                            $@item.Price
                                            <span>night</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    }
                }


            </div>
        </div>
    </section>
    <!-- room end -->
    <!-- counter start -->
    <section id="counter">
        <div class="container">
            <div class="title">
                <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500"
                   data-aos-anchor-placement="center-bottom">
                    We strive to be the best in our field to make you <br>
                    even more comfortable.
                </p>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="item-box">
                        <div class="item-title">
                            <span>SPA OFFERS</span>
                        </div>
                        <div class="item-count">
                            <span class="counter">@layoutService.GetSetting().Result.FirstOrDefault(s=>s.Key.Trim().ToLower()=="spaoffers").Value</span>+
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="item-box">
                        <div class="item-title">
                            <span>ROOMS</span>
                        </div>
                        <div class="item-count">
                            <span class="counter">@layoutService.GetSetting().Result.FirstOrDefault(s=>s.Key.Trim().ToLower()=="rooms").Value</span>+
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="item-box">
                        <div class="item-title">
                            <span>BEACHES</span>
                        </div>
                        <div class="item-count">
                            <span class="counter">@layoutService.GetSetting().Result.FirstOrDefault(s=>s.Key.Trim().ToLower()=="beaches").Value</span>+
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="item-box">
                        <div class="item-title">
                            <span>HAPPY CLIENTS</span>
                        </div>
                        <div class="item-count">
                            <span class="counter">@layoutService.GetSetting().Result.FirstOrDefault(s=>s.Key.Trim().ToLower()=="happyclients").Value</span>k
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- counter end -->
    <!-- testimonial start -->
    <section id="testimonial">
        <div class="container">
            <div class="title">
                <span data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500"
                      data-aos-anchor-placement="center-bottom">TESTIMONIALS</span>
                <h1 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500"
                    data-aos-anchor-placement="center-bottom">
                    What clients say about us.
                </h1>
            </div>
            <div class="testimonial-carousel owl-carousel owl-theme">
                @foreach (var item in Model.Testimonials)
                {
                    <div class="item">
                        <div class="txt">
                            <h4>Best hotel!</h4>
                            <p>
                                @item.Comment
                            </p>

                        </div>
                        <div class="author d-flex align-items-center">
                            <div class="author-photo">
                                <img src="~/assets/images/testimonial/@item.Image" alt="">
                            </div>
                            <div>
                                <div class="name">@item.Client</div>
                                <div class="country">from France</div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </section>
    <!-- testimonial end -->
    <!-- make room start -->
    <section id="make">
        <div class="container">
            <div class="row  align-items-center">
                <div class="col-12 col-sm-12 col-md-12 col-lg-7">
                    <div class="title">
                        <h2>Make room for adventure.</h2>
                        <p>
                            Book your room right now and start your amazing adventure full of discoveries and
                            experiences with Sochi.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-5 d-flex justify-content-end">
                    <div class="btn-rezerv">
                        <a href="/room/index">
                            Reservations
                            <i class="fa-solid fa-right-long"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- make room end -->
</main>
@section Scripts{
    <script>
        $(document).ready(function() {
            if ($("#forgotJs").length) {
                Command: toastr["success"]("Please check your gmail")

                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "7000",
                    "extendedTimeOut": "2000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
            }
            if ($("#resedJs").length) {
                Command: toastr["success"]("Your password has been successfully changed")

                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "7000",
                    "extendedTimeOut": "2000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
            }
            if ($("#verifyJs").length) {
                Command: toastr["success"]("Please verify your email")

                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "7000",
                    "extendedTimeOut": "2000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
            }
            if ($("#verifiedJs").length) {
                Command: toastr["success"]("Your email has been verified")

                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "7000",
                    "extendedTimeOut": "2000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
            }
            if ($("#bookingJs").length) {
                Command: toastr["success"]("Reservation completed successfully")

                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "7000",
                    "extendedTimeOut": "2000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
            }
             if ($("#editJs").length) {
                Command: toastr["info"]("The operation was completed successfully")

                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-left",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
            }
        })
    </script>
}